body {
  margin: 0;
  background-color: #e6ecef;
  font-size: 20px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/**
 * LoginForm
 */

.login-form {
  max-width: 360px;
  margin: 40px auto;
  background: #ffffff;
  padding: 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.login-form .row {
  margin: 8px 0px;
  display: flex;
  flex-direction: column;
}

.login-form label {
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 5px;
}

.login-form input {
  width: 100%;
  padding: 14px 10px;
  font-size: 14px;
  border: 0;
  border-radius: 5px;
  box-sizing: border-box;
  box-shadow: inset 0px 0px 0 2px rgba(0, 0, 0, 0.1);
}

.login-form button {
  border: none;
  padding: 11px;
  font-weight: 500;
  font-size: 20px;
  color: white;
  font-weight: 500;
  background: #000c14;
  border-radius: 5px;
}

/**
 * Nav
 */

.nav {
  background: #000c14;
  color: rgb(147, 147, 147);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 210px;
  min-height: 150px;
  padding: 25px 20px;
  border-radius: 5px;
  margin: 20px;
  position: absolute;
  right: 0;
  top: 0;
}

.nav-btn {
  background: rgb(113, 211, 211);
  color: #000c14;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  font-weight: 500;
  font-size: inherit;
  margin-top: 16px;
}

.nav-link {
  font-size: 17px;
  color: darkslategray;
  display: block;
  margin-top: 20px;
  align-self: center;
  text-decoration: none;
}

/**
 * Status
 */

.status-indicator {
  background: lightgray;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  font-size: 0;
  margin: 0 10px 4px 0;
  display: inline-block;
}

.status-device-nickname {
  margin: 0 0 20px 0;
  color: white;
}

.status-item {
  margin-bottom: 10px;
  padding-top: 10px;
  border-top: 2px solid rgb(0, 26, 43);
}

.status-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}
